:root {  
    --cor-principal: #212121;
    --cor-media: #42424233;
    --cor-fraca: #424242; 

    --cor-texto: #E1F5FE;
    --cor-destaque-texto: #02d08f;

    --cor-padrao: #f3f3f3;
    --cor-secundaria: #070d12;
}